#blog-container {
  background-color: rgba(217, 229, 255, 0.3);
  box-shadow: 0 1px 1px #e6e6e6, 0 2px 4px #e6e6e6;
  width: 60vw;
  min-height: 89.8vh;
  margin-left: 20vw;
  word-wrap: normal;
}

#meta-span {
  display: flex;
  color: grey;
  height: 20px;
}

#meta-span h6 {
  margin: 10px 0 0 10px;
}

#blog-content-wrapper {
  min-height: 83vh;
  margin: 30px 0 20px 10px;
}

.blog-post__main {
  margin: 3% 0 5% 3%;
  padding-bottom: 10%;
  padding-right: 5%;
}

.blog-post__preformat {
  padding: 0.25% 0 0.25% 3%;

  background-color: rgb(234, 237, 250);
  font-size: 0.75rem;
}

.blog-post--p {
  margin: 1rem 0 1rem 0;
  text-indent: 1.5rem;
}

.blog-post--ul {
  margin: 2rem 0 2rem 3rem;
}

.blog-post--li span {
  position: relative;
  left: -1rem;
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(46, 8, 16);

  padding: 2px;
  font-size: 90%;
}

@media (max-width: 450px) {
  #blog-container {
    background-color: rgba(255, 255, 255, 0.3);

    width: 100vw;
    min-height: 89.8vh;
    margin-left: 0;
  }

  .blog-post__main {
    margin: 3% 0 5% 0%;
    padding-right: 2%;
    padding-bottom: 10%;
  }

  .blog-post__preformat {
    padding: 0.25% 0 0.25% 0%;
    margin-bottom: 5%;
    width: 97vw;
    overflow-x: auto;
    background-color: rgb(247, 238, 238);
  }

  .blog-post__main {
    font-size: 0.9rem;
  }

  code {
    font-size: 90%;
  }
}
